section {
  /*background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 10px;
  /*justify-content: space-between;*/
}

.dogForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 390px) {
  body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  section {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  .logo {
    width: 80%;
    height: 80%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20%;
    position: relative;
    /* Añade posición relativa */
    z-index: 3;
    /* Coloca la imagen del logo y los botones por encima de la imagen de fondo */
    margin-top: 1em;
  }

  .btns-div {
    display: flex;
    margin-top: 25em;
    position: relative;
    /* Añade posición relativa */
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

    /* Coloca la imagen del logo y los botones por encima de la imagen de fondo */
  }

  .btn-register {
    background-color: #F4D160;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3em;
    font-size: 180%;
    margin-left: 9em;
    transition: .7s;
    box-shadow: 0 6px 0 #efc129;
    width: 140%;
    height: 50%;

  }

  .btn-register:active {
    box-shadow: none;
    transform: translateY(6px);
  }

  .btn-login {
    background-color: #75C2F6;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3em;
    font-size: 180%;
    margin-left: 2em;
    transition: .7s;
    box-shadow: 0 6px 0 #2aa0ee;
    height: 50%;
    padding-left: 30px;
    padding-right: 30px;
    width: 180%;
    display: inline-block;
  }

  .btn-login:active {
    box-shadow: none;
    transform: translateY(6px);
  }

  .divImage {
    border: 5px solid darkblue;

  }

  .img2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    /* Coloca la imagen de fondo detrás de los otros elementos */
  }

  .div-buttons {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-top: 25em;
    position: relative;
    /* Añade posición relativa */
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }
  /*Botones de registro de usuario y retorno al home*/
  .button-return,
  .button-register {
    background-color: #F4D160;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3em;
    font-size: 180%;
    margin-left: 2em;
    align-items: center;
    justify-content: center;
    transition: .7s;
    box-shadow: 0 6px 0 #efc129;
    width: 110%;
    height: auto;
  }

  .dogForm {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
  }

  .my-pet {
    background-color: #1D5D9B;
    color: white;
    border: 1px solid;
    border-radius: 1em;
    font-size: 180%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }

  .imgDogForm {
    border-radius: 1em;

  }

  .buttonSubmit,
  .buttonReturn {
    background-color: #75C2F6;
    border-radius: 1em;
    font-size: 100%;
    width: 48%;
    height: auto;
    display: inline-block;
    margin-bottom: 0px;
  }

  .inputId,
  .inputAge,
  .inputGender,
  .inputDogBreed,
  .inputWeight {
    background-color: #F4D160;
    border-radius: 3em;
    font-size: 100%;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 1px;
    padding: 1em;
    flex: 1;
  }

  .divVaccines {
    background-color: #F4D160;
    border-radius: 1em;
    width: 80%;
    height: 1px;
    padding: 1em;
    flex: 1;
    justify-content: space-between;
  }

  .divSterilized {
    background-color: #F4D160;
    border-radius: 1em;
    width: 80%;
    height: 1px;
    padding: 1em;
    flex: 1;
  }

}